.menu {
    flex-basis: 100%;
    display: flex;
    flex-wrap: nowrap;
    height: 7vh;
    justify-content: stretch;
    position: fixed;
    width: 100%;
    background-color: rgba(22, 22, 22, 0.89);
    z-index: +2;

    &__logo {
        max-width: 10vw;
        flex-basis: 10%;
        display: flex;
        float: left;
        overflow: hidden;
        @media (min-width: 1300px){
            max-width: 10vw;
        }
    }

    &__list {
        list-style-type: none;
        display: flex;
        flex-basis: 75%;
        justify-content: space-evenly;
        @media (max-width: 810px){
            display: none;
            flex-basis: 100%;
            min-height: 10rem;
            background-color: rgba(3, 2, 8, 0.952);
            padding-top: 10px;
            padding-right: 10px;
            margin-left: 60%;
            padding-left: 10px;
        }
    }
    &__h-icon {
        float: right;
        display: flex;
        position: absolute;
        right: 10px;
        top: 10px;
        @media (min-width: 811px){
            display: none;
        }
    }

    &__item {
        display: block;
        align-self: center;
    }
    &__link {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        color: rgba(224, 215, 215, 0.979);
        display: block;
        font-size: 1.5rem;
        &:hover {
            color: rgba(25, 134, 223, 0.932);
        }
        @media (max-width: 810px){
            padding-bottom: 5px;
            padding-right: 10px;
            padding-left: 10px;

        }
        @media (max-width: 1150px) {
            font-size: 1rem;
        }
        
    }

}
